<!-- banner -->
<section style="margin:0.5em">
    <div class="banner">
	    We run free software powered and privacy respecting services for general public. These services are run by volunteers in their free time. Your donation will help us in running these services. Please <a href="https://fund.fsci.in">donate to us</a>.
    </div>
</section>
